@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    text-align: center;
    padding: 30px 10px 10px;
    font-family: 'Times New Roman', Times, serif;
}

.bold {
    font-weight: bold;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

.subtitles {
    font-size: 20px;
    padding: 10px;
}

/* ------------ abstract ------------ */
@media (min-width: 100px) {
    #abstract {
        background-color: #e7e6e6;
        display: flex;
        width: 80vw;
        height: 300px;
        margin: 20px auto 0;
        border: solid 1px rgba(224, 224, 224, 0.573);
        border-radius: 10px 10px 0 0;
    }

    #abstract_l {
        width: 50%;
    }

    #abstract_r {
        width: 50%;
        padding: 10px 0;
        text-align: left;
    }

    #ft_perfil {
        height: 95%;
        border: double 2px rgb(206, 206, 206);
        box-shadow: #00000053 5px 5px 10px;
        background-color: white;
    }
}



/* ------------ presentation ------------ */
#presentation {
    background-color: #e6e6e6;
}

#social {
    width: 80vw;
    margin: auto;
    background-color: #182153;
    border-radius: 0 0 10px 10px;
    box-shadow: #636363 0 5px 10px;
}

.social {
    width: 50px;
    height: 50px;
}

#name {
    font-size: 30px;
    font-weight: bold;
}

#saldation {
    width: 70vw;
    padding: 20px 0;
    margin: 0 auto;
    font-size: 20px;
}


/* ------------ experience and formation ------------ */
#experience,
#formation {
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
}

#experience_l,
#formation_l {
    width: 30%;
    height: 60px;
    display: grid;
    align-content: center;
}

#experience_r,
#formation_r {
    width: 70%;
    height: 60px;
    display: grid;
    align-content: center;
}

.cor1 #experience_r,
.cor1 #formation_r {
    background-image: linear-gradient(to right, #d2faff, #e0fcff);
    color: black;
}

.cor1 #experience_l,
.cor1 #formation_l {
    background-image: linear-gradient(to right, #004EA3, #0077f7);
    color: white;
}

.cor2 #experience_l,
.cor2 #formation_l {
    background-image: linear-gradient(to right, #d2faff, #e0fcff);
    color: black;
}

.cor2 #experience_r,
.cor2 #formation_r {
    background-image: linear-gradient(to right, #004EA3, #0077f7);
    color: white;
}

/* ------------ skills ------------ */
#skills {}